<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thegioididong.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./fonts/fontawesome-pro-5.14.0-web/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/mobile.css">
  <link rel="stylesheet" type="text/css" href="./css/detail.css">
  <link rel="stylesheet" type="text/css" href="./css/cart.css">

</head>
<body>
	<div class="container-fluid bgc">
		<header class="header" id="top">
	    <div class="container">
	      <a href="index.html" class="header-logo"><img src="./images/logo-tgdd.png" alt=""></a>
	      <form class="header-search" id="search" action="" method="get" accept-charset="utf-8">
	        <input type="text" name="search" value="" placeholder="Bạn tìm gì...">
	        <i class="fa fa-search"></i>
	      </form>
	      <div class="header-infor">
	        <a href="cart.html" class="infor-cart"><i class="fal fa-shopping-cart"></i>Giỏ hàng</a>
	        <a href="history-cart.html" class="infor-history">LỊCH SỬ MUA HÀNG</a>
	        <a href="" class="infor-new-hot"><span class="dot"><span class="ping"></span></span><span class="text">Trực tiếp ra mắt Realme C12</span></a>
	      </div>
	      <div class="" style="margin-left: auto;margin-right: 0;overflow: hidden">
	        <a href=""class="infor-technology">24h CÔNG NGHỆ</a>
	        <a href="" class="infor-contact">HỎI ĐÁP</a>
	        <a href="" class="infor-game-ap">GAME APP</a>
	      </div>
	    </div>
	  </header><!-- /header -->
	  <div id="nav">
	    <nav class="container nav">
	      <a href="mobile.html" title="Điện thoại di động, smartphone"><i class="fal fa-mobile"></i>Điện thoại</a>
	      <a href="laptop.html" title="Máy tính xách tay, laptop"><i class="fal fa-laptop"></i>Laptop</a>
	      <a href="pc.html" title="Máy tính bảng, tablet"><i class="fal fa-tablet"></i>Tablet</a>
	      <a href="accessories.html" title="Phụ kiện điện thoại di động, phụ kiện tablet, phụ kiện laptop"><i class="fal fa-headphones"></i>Phụ kiện</a>
	      <a href="fwatch.html" title="Đồng hồ thời trang"><i class="fal fa-watch"></i>Đồng hồ thời trang</a>
	      <a href="swatch.html" title="Đồng hồ thông minh"><i class="fal fa-watch-calculator"></i>Đồng hồ thông minh</a>
	      <a href="printer.html" title="PC, máy in"><i class="fal fa-desktop-alt"></i>PC, máy in</a>
	      <a href="" title="Máy cũ giá rẻ, máy đổi trả thegioididong">Máy cũ giá rẻ</a>
	      <a href="#" title="">Sim, thẻ cào</a>
	      <a href="#" title="">Trả góp, điện, nước</a>
	    </nav>
	  </div><!--  /nav -->
  	<div class="container">
  		<section id ="container-cart">
  			<div class="bar-top">
  				<a href="index.html"><i class="fal fa-chevron-left"></i>Mua thêm sản phẩm khác</a>
  				<p>Giỏ hàng của bạn</p>
  			</div>
  			<div class="container-cart">
  				<label class="error-color">Dịch vụ mang thêm màu khác và sản phẩm để tham khảo chỉ áp dụng khi đặt mua duy nhất 1 sản phẩm.</label>
  				<div class="list-order">
  					<div class="order-item">
  						<div class="">
	  						<img src="./images/oppo-reno3-den-200x200-1-180x125.png" alt="">
	  						<span><i class="fas fa-times-circle"></i>Xóa</span>
	  					</div>
	  					<div class="prd-infor">
	  						<div>
	  							<a href="">OPPO Reno3</a>
	  							<strong>8.990.000₫</strong>
	  						</div>
	  						<div class="promotion">
	  							<span>Giảm giá 1.500.000₫</span>
	  							<span>Phụ kiện mua kèm giảm 20% (không áp dụng phụ kiện hãng, không áp dụng đồng thời KM khác)</span>
	  							<span>Tặng 2 suất mua Đồng hồ thời trang giảm 40% (không áp dụng thêm khuyến mãi khác)<a href="">(click xem chi tiết)</a></span>
	  						</div>
	  						<p><span>Giảm <strong >1.500.000₫</strong> còn <strong>7.490.000₫</strong></span></p>
	  						<div class="" style="display: flex;justify-content: space-between;align-items: center">
	  							<div class="choose-color">
		  							<span class="js-cart-color">Màu: Đen <i class="fas fa-caret-down"></i></span>
		  							<div class="content-choose">
		  								<div class="choose-color-item js-color-item">
		  									<img src="./images/oppo-reno3-den-200x200-1-180x125.png" alt="">
		  									<span>Đen</span>
		  								</div>
		  								<div class="choose-color-item js-color-item">
		  									<img src="./images/oppo-reno3-trang-200x200-1-180x125.png" alt="">
		  									<span>Trắng</span>
		  								</div>
		  								<div class="choose-color-item js-color-item">
		  									<img src="./images/oppo-reno3-xanh-200x200-2-180x125.png" alt="">
		  									<span>Xanh Dương</span>
		  								</div>
		  							</div>
	  							</div>
	  							<div class="choose-number">
                    <input type="hidden" class="sp1" name="" value="1">
                    <div class="abate js-change-quantity" change="abate"></div>
                    <div class="number">1</div>
                    <div class="augment js-change-quantity" change="augment"></div>
                	</div>
	  						</div>
	  						<div class="barpage-item" style="margin-top: 10px;">
			            <label class="barpage-title">Mang nhiều màu để bạn lựa chọn
			              <input type="checkbox" class="js-show-vipservices">
			              <span class="checkmark"></span>
			            </label>
			          </div>
			          <div style="display: none">
			            <div class="addmore">
			              <p>Chọn màu sản phẩm (không mua không sao)</p>
			              <div class="theme">
			                <div class="option">
			                  <div><img src="./images/oppo-reno3-den-200x200-1-180x125.png"></div>
			                  <div class="barpage-item">
			                    <label class="barpage-title">Đen
			                      <input type="checkbox" class="js-chosse-color">
			                      <span class="checkmark"></span>
			                    </label>
			                  </div>
			                </div>
			                <div class="option">
			                  <div><img src="./images/oppo-reno3-trang-400x460-400x460.png"></div>
			                  <div class="barpage-item">
			                    <label class="barpage-title">Trắng
			                      <input type="checkbox" class="js-chosse-color">
			                      <span class="checkmark"></span>
			                    </label>
			                  </div>
			                </div>
			                <div class="option">
			                  <div><img src="./images/oppo-reno3-xanh-200x200-2-180x125.png"></div>
			                  <div class="barpage-item">
			                    <label class="barpage-title">Xanh dương
			                      <input type="checkbox" class="js-chosse-color">
			                      <span class="checkmark"></span>
			                    </label>
			                  </div>
			                </div>
			              </div>
			            </div>
			          </div>
	  					</div>
  					</div>
  				</div>
  				
  				<div class="area-total">
						<div >
							<span>Tổng tiền: </span>
							<span class="">8.990.000₫</span>
						</div>
						<div>
							<span>Giảm: </span>
							<span>-1.500.000₫</span>
						</div>
						<div>
							<span><b>Cần thanh toán: </b></span>
							<strong>7.490.000₫</strong>
						</div>
						<div class="coupon-code">
							<div class="text-code js-text-code" id="js-text-code">Sử dụng mã giảm giá
							</div>
							<div class="input-code js-input-code" style="display: none">
								<input type="text" name="" placeholder="Nhập mã giảm giá">
								<span class="btn">Áp dụng</span>
							</div>
						</div>
  				</div>
  				<div class="infor-user">
  					<div class="checkradio">
  						<div class="barpage-item">
	              <label class="barpage-title">Anh
	                <input type="radio" name="gender" checked="">
	                <span class="checkmark"></span>
	              </label>
	            </div>
	            <div class="barpage-item">
	              <label class="barpage-title">Chị
	                <input type="radio" name="gender">
	                <span class="checkmark"></span>
	              </label>
	            </div>
  					</div>
  					<div class="area-infor">
  						<input type="text" name="name" placeholder="Họ và tên">
  						<input type="text" name="phone" placeholder="Số điện thoại">
  					</div>
  					<div class="other-note">
  						<input type="text" name="otherNote" placeholder="Yêu cầu khác (không bắt buộc)">
  					</div>
  					<div class="area-orther">
  						<div><b>Để được phục vụ nhanh hơn,</b> hãy chọn thêm:</div>
  						<div class="checkradio">
	  						<div class="barpage-item">
		              <label class="barpage-title">Địa chỉ giao hàng
		                <input type="radio" name="address" data-name="delivery-address" checked="" class="js-change-address">
		                <span class="checkmark"></span>
		              </label>
		            </div>
		            <div class="barpage-item">
		              <label class="barpage-title">Nhận tại siêu thị
		                <input type="radio" name="address" data-name="received-market" class="js-change-address">
		                <span class="checkmark"></span>
		              </label>
		            </div>
	  					</div>
	  					<div class="area-address js-delivery-address">
	  						<div class="address-list">
	  							<div class="address-item">
		  							<span>Hà Nội</span><i class="fas fa-caret-down"></i>
		  						</div>
		  						<div class="address-item">
		  							<span>Chọn quận, huyện</span><i class="fas fa-caret-down"></i>
		  						</div>
		  						<div class="address-item">
		  							<span>Chọn phường, xã</span><i class="fas fa-caret-down"></i>
		  						</div>
		  						<div class="address-item">
		  							<input type="" name="" placeholder="Số nhà, tên, đường">
		  						</div>
		  					</div>
		  					<div class="delivery-time">
		  						<div class="guide">
		  							<b>Hướng dẫn:</b> Chọn địa chỉ để biết chính xác thời gian giao hàng
		  						</div>
		  					</div>
		  					<div class="barpage-item">
		              <label class="barpage-title">Gọi người khác nhận hàng nếu có
		                <input type="checkbox" class="js-show-vipservices">
		                <span class="checkmark"></span>
		              </label>
		            </div>
		            <div style="display: none; margin-bottom: 10px;" >
              		<div class="addmore">
              			<div class="checkradio">
				  						<div class="barpage-item">
					              <label class="barpage-title">Anh
					                <input type="radio" name="ortherGender" checked="">
					                <span class="checkmark"></span>
					              </label>
					            </div>
					            <div class="barpage-item">
					              <label class="barpage-title">Chị
					                <input type="radio" name="ortherGender">
					                <span class="checkmark"></span>
					              </label>
					            </div>
				  					</div>
				  					<div class="area-infor">
				  						<input type="text" name="name" placeholder="Họ và tên">
				  						<input type="text" name="name" placeholder="Số điện thoại">
				  					</div>
              		</div>
              	</div>
              	<div class="barpage-item">
		              <label class="barpage-title">Chuyển danh bạ, dữ liệu qua máy mới
		                <input type="checkbox" class="">
		                <span class="checkmark"></span>
		              </label>
		            </div>
		            <div class="barpage-item">
		              <label class="barpage-title">Mang thêm điện thoại khác để bạn xem
		                <input type="checkbox" class="js-show-vipservices">
		                <span class="checkmark"></span>
		              </label>
		            </div>
		            <div class="bring-more">
		              <input type="text" name="" placeholder="Nhập tên điện thoại bạn muốn xem">
		            </div>
		            <div class="barpage-item">
		              <label class="barpage-title">Xuất hóa đơn công ty
		                <input type="checkbox" class="js-show-vipservices">
		                <span class="checkmark"></span>
		              </label>
		            </div>
		            <div class="bring-more">
		              <input type="text" name="" placeholder="Tên công ty">
		              <input type="text" name="" placeholder="Địa chỉ">
		              <input type="text" name="" placeholder="Mã số thuế">
		            </div>
	  					</div>
	  					<div class="area-address area-market js-received-market" style="display: none">
	  						<div class="address-list">
	  							<div class="address-item">
		  							<span>Hà Nội</span><i class="fas fa-caret-down"></i>
		  						</div>
		  						<div class="address-item">
		  							<span>Chọn quận, huyện</span><i class="fas fa-caret-down"></i>
		  						</div>
		  					</div>
		  					<div class="bring-more" style="display: block;margin-top: 0;">
		              <input type="text" name="" placeholder="Nhập tên đường để tìm nhanh siêu thị" style="margin: 0">
		            </div>
		            <div class="checkradio" style="display: flex;flex-direction: column">
		  						<div class="barpage-item">
			              <label class="barpage-title">Đạc 7, xã Thọ Xuân, H. Đan Phượng, TP. Hà Nội
			                <input type="radio" name="delivery-address" checked="">
			                <span class="checkmark"></span>
			              </label>
			            </div>
			            <div class="barpage-item">
			              <label class="barpage-title">Số 193 - 195 đường Cầu Diễn, Phường Phúc Diễn, Quận Bắc Từ Liêm, Thành phố Hà Nội
			                <input type="radio" name="delivery-address">
			                <span class="checkmark"></span>
			              </label>
			            </div>
			            <div style="color:#288ad6; margin-bottom: 10px;">
			            	<span style="margin-right: 10px">Xem thêm siêu thị</span><i class="fas fa-caret-down" style="font-size: 18px"></i>
			            </div>
		  					</div>
		  					<div class="address-item" style="width: 100%">
	  							<span style="color: #333">Thời gian nhận: </span><span>Hôm nay 06/09</span><i class="fas fa-caret-down"></i>
	  						</div>
		            <div class="barpage-item">
		              <label class="barpage-title">Xuất hóa đơn công ty
		                <input type="checkbox" class="js-show-vipservices">
		                <span class="checkmark"></span>
		              </label>
		            </div>
		            <div class="bring-more">
		              <input type="text" name="" placeholder="Tên công ty">
		              <input type="text" name="" placeholder="Địa chỉ">
		              <input type="text" name="" placeholder="Mã số thuế">
		            </div>
	  					</div>
	  					<div class="choose-pay">
	  						<span>Đặt hàng</span>
	  						<p>Bạn có thể chọn hình thức thanh toán sau khi đặt hàng</p>
	  					</div>
  					</div>
  				</div>
  			</div>
  		</section>
  		<p class="provision">Bằng cách đặt hàng, bạn đồng ý với <a href="/tos" target="_blank">Điều khoản sử dụng</a> của Thegioididong</p>
  	</div>
	</div>
	<script type="text/javascript" src="./javascripts/jquery-3.5.0.min.js"></script>
  <script type="text/javascript" src="./plugin/owlcarousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="./javascripts/javascript.js"></script>
</body>
</html>