<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thegioididong.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./fonts/fontawesome-pro-5.14.0-web/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/mobile.css">
  <link rel="stylesheet" type="text/css" href="./css/detail.css">
</head>
<body>
	<div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=609494949900356&autoLogAppEvents=1"></script>
	<div class="container-fluid">
		<header class="header" id="top">
	    <div class="container">
	      <a href="index.html" class="header-logo"><img src="./images/logo-tgdd.png" alt=""></a>
	      <form class="header-search" id="search" action="" method="get" accept-charset="utf-8">
	        <input type="text" name="search" value="" placeholder="Bạn tìm gì...">
	        <i class="fa fa-search"></i>
	      </form>
	      <div class="header-infor">
	        <a href="cart.html"  id ="a1" class="infor-cart"><i class="fal fa-shopping-cart"></i>Giỏ hàng</a>
	        <a href="" class="infor-history">LỊCH SỬ MUA HÀNG</a>
	        <a href="" class="infor-new-hot"><span class="dot"><span class="ping"></span></span><span class="text">Trực tiếp ra mắt Realme C12</span></a>
	      </div>
	      <div class="" style="margin-left: auto;margin-right: 0;overflow: hidden">
	        <a href=""class="infor-technology">24h CÔNG NGHỆ</a>
	        <a href="" class="infor-contact">HỎI ĐÁP</a>
	        <a href="" class="infor-game-ap">GAME APP</a>
	      </div>
	    </div>
	  </header><!-- /header -->
	  <div id="nav">
	    <nav class="container nav">
	      <a href="mobile.html" title="Điện thoại di động, smartphone"><i class="fal fa-mobile"></i>Điện thoại</a>
	      <a href="laptop.html" title="Máy tính xách tay, laptop"><i class="fal fa-laptop"></i>Laptop</a>
	      <a href="pc.html" title="Máy tính bảng, tablet"><i class="fal fa-tablet"></i>Tablet</a>
	      <a href="accessories.html" title="Phụ kiện điện thoại di động, phụ kiện tablet, phụ kiện laptop"><i class="fal fa-headphones"></i>Phụ kiện</a>
	      <a href="fwatch.html" title="Đồng hồ thời trang"><i class="fal fa-watch"></i>Đồng hồ thời trang</a>
	      <a href="swatch.html" title="Đồng hồ thông minh"><i class="fal fa-watch-calculator"></i>Đồng hồ thông minh</a>
	      <a href="printer.html" title="PC, máy in"><i class="fal fa-desktop-alt"></i>PC, máy in</a>
	      <a href="" title="Máy cũ giá rẻ, máy đổi trả thegioididong">Máy cũ giá rẻ</a>
	      <a href="#" title="">Sim, thẻ cào</a>
	      <a href="#" title="">Trả góp, điện, nước</a>
	    </nav>
	  </div><!--  /nav -->
  	<div class="container">
  		<div class="submenu">
	      <a href="">Trang chủ </a><span> &rsaquo; </span><a href="">Điện thoại</a><span> &rsaquo; </span><a href="">OPPO</a>
	    </div>

	    <div class="title">
	      <h1>Điện thoại OPPO Reno3</h1>
	      <div class="rating-result">
          <i class="fas fa-star voted"></i>
          <i class="fas fa-star voted"></i>
          <i class="fas fa-star voted"></i>
          <i class="fas fa-star "></i>
          <i class="fas fa-star "></i>
          <span>9 đánh giá</span>
        </div>
	      <div class="like-share">
	        <div class="fb-like" data-href="" data-width="344" data-layout="button_count" data-action="like" data-size="small" data-share="true">
	        </div>
      	</div>
    	</div>
    	<div class="detail">
	      <aside class="left-image">
	        <div class="avatar">
	          <img src="./images/oppo-reno3-trang-400x460-400x460.png" alt="">
	        </div>
	        <span class="text-view">Xem hình thực tế sản phẩm</span>
	        <div class="theme">
	          <div class="option">
	            <div><img src="./images/oppo-reno3-xanh-200x200-2-180x125.png"></div>
	            <span>Xanh Dương</span>
	          </div>
	          <div class="option">
	            <div><img src="./images/oppo-reno3-den-200x200-1-180x125.png"></div>
	            <span>Đen</span>
	          </div>
	          <div class="option">
	            <div><img src="./images/oppo-reno3-trang-400x460-400x460.png"></div>
	            <span>Trắng</span>
	          </div>
	          <div class="video">
	            <div><i class="fab fa-youtube"></i></div>
	            <span>Video</span>
	          </div>
	          <div class="open-box">
	            <div><i class="fal fa-box-open"></i></div>
	            <span>Mở hộp, k.mãi</span>
	          </div>
	          <div class="view360">
	            <div><i class="fas fa-undo-alt"></i></div>
	            <span>Hình 360 <br>độ</span>
	          </div>
	        </div>
	      </aside>
	      <aside class="center-sale">
	        <p>Bạn đang xem phiên bản: <span><b>Reno3</b></span></p>
	        <div class="version">
	          <div class="option check">
	            <label><i class="fas fa-check-circle"></i><span>Reno3</span></label>
	            <span>7.490.000₫</span>
	          </div>
	          <div class="option">
	            <label><i class="fal fa-circle"></i><span>Reno3 Pro</span></label>
	            <span>10.590.000₫</span>
	          </div>
	        </div>
	        <div class="product-price">
	          <strong>7.490.000₫</strong>
	          <span>8.990.000₫</span><i>-16%</i> 
	          <label class="installment">Trả góp 0%</label> 
	        </div>  
	        <div class="banner">
	          <img src="./images/DocquyenDes-380x100-1.png" alt="">
	        </div> 
	        <div class="detail-promotion">
	          <div class="promotion-title">
	            Khuyễn mãi
	            <i>Giá và khuyến mãi dự kiến áp dụng đến 31/08</i>
	          </div>
	          <div class="inforpr">
	            <span><i class="fas fa-check-circle"></i>Tặng 2 suất mua Đồng hồ thời trang giảm 40% (không áp dụng thêm khuyến mãi khác) <a href="">(click xem chi tiết)</a></span>
	            <span><i class="fas fa-check-circle"></i>Phụ kiện mua kèm giảm 20% (không áp dụng phụ kiện hãng, không áp dụng đồng thời KM khác)</span>
	          </div>
	          <div class="vipservices">
	            <b>Chọn thêm các dịch vụ <span>miễn phí chỉ có ở TGDĐ</span></b>
	            <div class="barpage-item">
	              <label class="barpage-title">Giao hàng tử cửa hàng gần bạn nhất
	                <input type="checkbox" checked="true">
	                <span class="checkmark"></span>
	              </label>
	            </div>
	            <div class="barpage-item">
	              <label class="barpage-title">Chuyển danh bạ, dữ liệu qua máy mới
	                <input type="checkbox" >
	                <span class="checkmark"></span>
	              </label>
	            </div>
	            <div class="barpage-item">
	              <label class="barpage-title">Mang nhiều màu để bạn lựa chọn
	                <input type="checkbox" class="js-show-vipservices">
	                <span class="checkmark"></span>
	              </label>
	            </div>
	            <div style="display: none">
	              <div class="addmore">
	                <p>Chọn màu sản phẩm (không mua không sao)</p>
	                <div class="theme">
	                  <div class="option">
	                    <div><img src="./images/oppo-reno3-den-200x200-1-180x125.png"></div>
	                    <div class="barpage-item">
	                      <label class="barpage-title">Đen
	                        <input type="checkbox" class="js-chosse-color">
	                        <span class="checkmark"></span>
	                      </label>
	                    </div>
	                  </div>
	                  <div class="option">
	                    <div><img src="./images/oppo-reno3-trang-400x460-400x460.png"></div>
	                    <div class="barpage-item">
	                      <label class="barpage-title">Trắng
	                        <input type="checkbox" class="js-chosse-color">
	                        <span class="checkmark"></span>
	                      </label>
	                    </div>
	                  </div>
	                  <div class="option">
	                    <div><img src="./images/oppo-reno3-xanh-200x200-2-180x125.png"></div>
	                    <div class="barpage-item">
	                      <label class="barpage-title">Xanh dương
	                        <input type="checkbox" class="js-chosse-color">
	                        <span class="checkmark"></span>
	                      </label>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="barpage-item">
	              <label class="barpage-title">Mang thêm điện thoại khác để bạn xem
	                <input type="checkbox" class="js-show-vipservices">
	                <span class="checkmark"></span>
	              </label>
	            </div>
	            <div class="bring-more">
	              <input type="text" name="" placeholder="Nhập tên điện thoại bạn muốn xem">
	            </div>
	          </div>
	        </div> 
	        <div class="donate">
	          <i class="fal fa-gift"></i>
	          <span><b>Tặng 100.000₫</b> mua online tại Web thành viên BachhoaXANH.com, áp dụng tại Tp.HCM, Tp.Nha Trang, Tp.Phan Thiết <a href="" target="_blank">(click xem chi tiết)</a></span>
	        </div> 
	        <div class="discount">
	          <div>
	            <i class="fab fa-cc-jcb"></i>
	            <span>Giảm thêm <b>600.000đ</b> khi thanh toán bằng thẻ JCB cho sản phẩm từ 6.000.000đ.</span><br>
	            <a href="" target="_blank">Xem hướng dẫn</a>
	          </div>
	          <div>
	            <span >Mua ngay</span>
	          </div>
	        </div>
	        <p class="quotation"><i class="fal fa-comment-alt-exclamation"></i><a href="">Báo giá cao</a></p>
	        <div class="area-order">
	          <a class="buy-now" href=""><b>Mua ngay</b><span>Giao tận nơi hoặc nhận tại siêu thị</span></a>
	        </div>
	        <div class="area-order">
	          <a class="installment-cash" href=""><b>Mua Trả góp 0%</b><span>Thủ tục đơn giản</span></a>
	          <a class="installment-card" href=""><b>Trả góp qua thẻ</b><span>Visa, Master, JBC</span></a>
	        </div>
	        <div class="call-order">
	          <span>Gọi đặt mua: <a href="">1800.1060</a> (miễn phí - 7:30-22:00)</span>
	        </div>
	      </aside>
	      <aside class="right-infor">
	        <p class="map-check"><i class="far fa-map-marker-check"></i>Kiểm tra có hàng tại nơi bạn ở không?</p>
	        <div class="accessories">
	          <div class="donate">
	            <i class="fal fa-box-full"></i>
	            <span>Bộ sản phẩm gồm: <a href="" target="_blank"> Hộp, Sạc, Tai nghe, Sách hướng dẫn, Cáp, Cây lấy sim, Ốp lưng</a></span>
	          </div>
	          <div class="donate">
	            <i class="fas fa-award"></i>
	            <span>Bảo hành chính hãng 12 tháng</span>
	          </div>
	          <div class="donate">
	            <i class="far fa-undo-alt"></i>
	            <span>Lỗi là đổi mới trong 1 tháng tại hơn 2034 siêu thị toàn quốc <a href="" target="_blank">Xem chi tiết</a></span>
	          </div>
	        </div>
	        <div class="product-old">
	          <a href="">Xem OPPO Reno3 cũ</a>
	          <span>Giá dưới: <strong>6.530.000₫</strong></span>
	          <span>Bảo hành tới 10 tháng</span>
	        </div>
	      </aside>
	    </div>
	    <div class="box-content">
	      <aside class="left-content">
	        <h2>Đặc điểm nổi bật của OPPO Reno3</h2>
	        <div id="owl-detail" class="owl-carousel owl-detail owl-theme">
	        	<div class="item">
	        		<a href="#"><img src="./images/vi-vn-oppo-reno3.jpg"></a>
	        	</div>
	        	<div class="item ">
	            <a href="#"><img src="./images/vi-vn-oppo-reno3-tinhnang.jpg" style="width:100%"></a>
	          </div>
	          <div class="item ">
	            <a href="#"><img src="./images/vi-vn-oppo-reno3-thietke.jpg" style="width:100%"></a>
	          </div>
	          <div class="item ">
	            <a href="#"><img src="./images/vi-vn-oppo-reno3-mongnhe.jpg" style="width:100%"></a>
	          </div>
	          <div class="item ">
	            <a href="#"><img src="./images/vi-vn-oppo-reno3-camerasau.jpg" style="width:100%"></a>
	          </div>
	        </div>
	        <article class="area-article">
	      		<h3><a href="">OPPO Reno3 </a>là một sản phẩm ở phân khúc tầm trung nhưng vẫn sở hữu cho mình ngoại hình bắt mắt, cụm camera chất lượng và cùng nhiều đột phá về màn hình cũng như hiệu năng.</h3>
	      		<h3>Nhiếp ảnh, quay phim đỉnh với cụm camera chất</h3>
	      		<p>Xu thế nhiều camera đang "nở rộ" và trên "đứa con cưng của mình" thì <a href="">OPPO</a> đã mang tới cho người dùng cụm 4 camera chất lượng ở mặt sau máy.</p>
	      		<img src="./images/oppo-reno3-tgdd4.jpg" alt="">
      			<p>Camera chính có độ phân giải 48 MP cho ra những hình ảnh sắc nét và khả năng chụp tối ấn tượng. Còn lại là ống kính góc siêu rộng 8 MP, cảm biến xóa phông trắng đen 2 MP và camera tele 13 MP.</p>
	      		<img src="./images/oppo-reno3-tgdd10.jpg" alt="">
	      		<p>Ở điều kiện đủ sáng, OPPO Reno3 mang đến bức ảnh đẹp mắt với độ tương phản cao. OPPO nói rằng chiếc máy có khả năng xử lý bằng phần mềm để cho ra bức ảnh với độ chi tiết tương tự các bức ảnh 108 MP, cho bạn thả ga in ấn hay phóng lớn bất kì vùng ảnh nào.</p>
	      		<p>Khả năng zoom xa trên Reno 3 cũng rất ấn tượng, nhờ vào việc kết hợp cả 3 ống kính cùng một lúc và phần mềm để cho bức ảnh zoom số lên đến 20X, đảm bảo chất lượng rõ ràng và màu sắc không lệch nhiều.</p>
	      		<img src="./images/oppo-reno3-2.jpg" alt="">
	      	</article>
	      	<p class="read-more js-read-more">Đọc thêm <i class="fas fa-caret-down"></i></p>
	      	<div class="bottom-order">
	      		<div class="infor-product">
	      			<img src="./images/oppo-reno3-trang-600x600-400x400.jpg" alt="">
	      			<div>
	      				<h3>Điện thoại OPPO Reno3</h3>
	      				<strong>7.490.000₫</strong>
	      			</div>
	      		</div>
	      		<div class="area-order">
		          <a class="buy-now" href=""><b>Mua ngay</b></a>
		          <a class="installment-cash" href=""><b>Mua Trả góp 0%</b></a>
		          <a class="installment-card" href=""><b>Trả góp qua thẻ</b></a>
	        	</div>
	      	</div>
	      	<div class="same-kind" id="same-kind">
	      		<h4>Các sản phẩm cùng loại</h4>
	      		<div class="home-product">
	      			<div>
				        <a href="" class="large">
				          <img src="./images/iphone-11-pro-max-green-400x400.jpg" alt="" width="180" height="180">
				          <h3>Samsung Galaxy Note 20</h3>
				          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
				          <div class="product-price">
				            <strong>6.490.000₫</strong>
				            <span></span>
				            <i></i>                      
				          </div>
				          <div class="rating-result">
				            <i class="fas fa-star voted"></i>
				            <i class="fas fa-star voted"></i>
				            <i class="fas fa-star voted"></i>
				            <i class="fas fa-star "></i>
				            <i class="fas fa-star "></i>
				            <!-- <span>9 đánh giá</span> -->
				          </div>
				          <div class="product-promo noimage">
				            <p><b></b></p>
				            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
				          </div>
				          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
				          <!-- <label class="installment">Trả góp 0%</label> -->
				          <!-- <label class="discount">GIẢM 45.000₫</label> -->
				          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
				        </a>
				      </div>
				      <div>
				        <a href="" class="large">
				          <img src="./images/iphone-11-pro-max-green-400x400.jpg" alt="" width="180" height="180">
				          <h3>Samsung Galaxy Note 20</h3>
				          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
				          <div class="product-price">
				            <strong>6.490.000₫</strong>
				            <span></span>
				            <i></i>                      
				          </div>
				          <div class="product-promo noimage">
				            <!-- <p>Giảm thêm <b>500.000₫</b></p> -->
				            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
				          </div>
				          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
				          <!-- <label class="installment">Trả góp 0%</label> -->
				          <!-- <label class="discount">GIẢM 45.000₫</label> -->
				          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
				        </a>
				      </div>
				      <div>
				        <a href="" class="large">
				          <img src="./images/iphone-11-pro-max-green-400x400.jpg" alt="" width="180" height="180">
				          <h3>Samsung Galaxy Note 20</h3>
				          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
				          <div class="product-price">
				            <strong>6.490.000₫</strong>
				            <span></span>
				            <i></i>                      
				          </div>
				          <div class="product-promo noimage">
				            <p><b></b></p>
				            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
				          </div>
				          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
				          <!-- <label class="installment">Trả góp 0%</label> -->
				          <!-- <label class="discount">GIẢM 45.000₫</label> -->
				          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
				        </a>
				      </div>
	      		</div>
	      	</div>
	      	<div class="evaluate">
	      		<div class="evaluate-content">
	      			<div class="rating-result">
	      				<b>3.9 <i class="fas fa-star voted"></i></b>
	      			</div>
	      			<div class="evaluate-detail">
	      				<div class="evaluate-item">
	      					<span> 5 <i class="fas fa-star voted"></i></span>
	      					<div class="bgb">
	      						<div class="bgb-in" style="width: 46.3%"></div>
	      					</div>
	      					<span><strong>31 </strong>đánh giá</span>
	      				</div>
	      				<div class="evaluate-item">
	      					<span> 4 <i class="fas fa-star voted"></i></span>
	      					<div class="bgb">
	      						<div class="bgb-in" style="width: 16.4%"></div>
	      					</div>
	      					<span><strong>11 </strong>đánh giá</span>
	      				</div>
	      				<div class="evaluate-item">
	      					<span> 3 <i class="fas fa-star voted"></i></span>
	      					<div class="bgb">
	      						<div class="bgb-in" style="width: 20.9%"></div>
	      					</div>
	      					<span><strong>14 </strong>đánh giá</span>
	      				</div>
	      				<div class="evaluate-item">
	      					<span> 2 <i class="fas fa-star voted"></i></span>
	      					<div class="bgb">
	      						<div class="bgb-in" style="width: 6%"></div>
	      					</div>
	      					<span><strong>4 </strong>đánh giá</span>
	      				</div>
	      				<div class="evaluate-item">
	      					<span> 1 <i class="fas fa-star voted"></i></span>
	      					<div class="bgb">
	      						<div class="bgb-in" style="width: 10.4%"></div>
	      					</div>
	      					<span><strong>7 </strong>đánh giá</span>
	      				</div>
	      			</div>
	      			<div class="send-myevaluate">
	      				<a href="javascript:void(0)" class="show-input">Gửi đánh giá của bạn</a>
	      			</div>
	      		</div>
	      		<form class="input" style="display: none">
		      		<div class="myevaluate">
		      			<span>Chọn đánh giá của bạn</span>
		      			<input type="hidden" id="hdfStar" value="0" data-value="0">
		      			<span class="rating-result" id="js-myevaluate">
		      				<i class="fas fa-star" id="s1"></i>
		      				<i class="fas fa-star" id="s2"></i>
		      				<i class="fas fa-star" id="s3"></i>
		      				<i class="fas fa-star" id="s4"></i>
		      				<i class="fas fa-star" id="s5"></i>
		      			</span>
		      			<span class="lsStar hide"> Không thích</span>
		      		</div>
		      		<div class="write-comment hide" >
		      			<div class="write">
		      				<textarea name="" placeholder="Nhập đánh giá về sản phẩm (tối thiểu 80 ký tự)"></textarea>
		      				<div class="attach-photo">
			      				<label for="fileRatingUpload"><i class="fas fa-camera-retro"></i>Đính kèm ảnh</label>
			      				<span class="ckeckWrite"></span>
			      				<input type="file" id="fileRatingUpload" style="display: none">
			      			</div>
		      			</div>
		      			<div class="person-infor">
		      				<input type="text" placeholder="Họ và tên">
		      				<input type="tel" placeholder="Số điện thoại">
		      				<input type="Email" placeholder="Email">
		      				<a href="">Gửi đánh giá</a>
		      			</div>
		      			<div class="barpage-item share" >
		              <label class="barpage-title">Tôi sẽ giới thiệu sản phẩm này cho bạn bè người thân
		                <input type="checkbox" class="js-show-vipservices">
		                <span class="checkmark"></span>
		              </label>
		            </div>
		            <span class="error-message"></span>
		      		</div>

	      		</form>
	      	</div>
	      	<div class="comment-detail">
	      		
	      	</div>
	      </aside>
	      <aside class="right-content">
	        <h2>Thông số kỹ thuật</h2>
	        <div class="specification">
	          <div class="specification-item">
	            <span>Màn hình:</span>
	            <span><a href="" target="_blank">AMOLED</a>, 6.4", <a href="" target="_blank">Full HD+</a></span>  
	          </div>
	          <div class="specification-item">
	            <span>Hệ điều hành:</span>
	            <span><a href="" target="_blank">Android 10</a></span>  
	          </div>
	          <div class="specification-item">
	            <span>Camera sau: </span>
	            <span>Chính 48 MP & Phụ 13 MP, 8 MP, 2 MP</span>  
	          </div>
	          <div class="specification-item">
	            <span>Camera trước:</span>
	            <span>44 MP</span>  
	          </div>
	          <div class="specification-item">
	            <span>CPU:</span>
	            <span><a href="" target="_blank">MediaTek Helio P90 8 nhân</a></span>  
	          </div>
	          <div class="specification-item">
	            <span>RAM:</span>
	            <span>8GB</span>  
	          </div>
	          <div class="specification-item">
	            <span>Bộ nhớ trong:</span>
	            <span>128GB</span>  
	          </div>
	          <div class="specification-item">
	            <span>Thẻ nhớ:</span>
	            <span><a href="" target="_blank">MicroSD, hỗ trợ tối đa 256 GB</a></span>  
	          </div>
	          <div class="specification-item">
	            <span></span>
	            <span><b>HOT</b><a href="" target="_blank">SIM VNMB Siêu sim (5GB/ngày)</a></span>  
	          </div>
	          <div class="specification-item">
	            <span>Dung lượng pin:</span>
	            <span>4025 mAh, có sạc nhanh</span>  
	          </div>
	          <div class="view-detail-more">
	            Xem thêm cấu hình chi tiết
	          </div>
	        </div>
	        <div class="news-list">
	          <h4>Tin tức về OPPO Reno3</h4>
	          <ul>
	          	<li>
	          		<a href="">
		            	<img src="./images/opporeno4tim-16_800x450-300x200.jpg" alt="">
		            	<h3>Trên tay OPPO Reno4 Tím Khói: Tôn lên vẻ sang trọng, quý phái cho các chị em, giá không thay đổi</h3>
		            </a>
	          	</li>
	          	<li>
	          		<a href="">
		            	<img src="./images/oppo-sm-megamall-concept-store-with-coleen-garcia_800x450-300x200.jpg" alt="">
		            	<h3>OPPO hợp tác với América Móvil để thâm nhập thị trường smartphone Mỹ Latinh, đường đua quốc tế ai sẽ hụt hơi trước đây?</h3>
		            </a>
	          	</li>
	          	<li>
	          		<a href="">
		            	<img src="./images/opporeno4tim-16_800x450-300x200.jpg" alt="">
		            	<h3>Trên tay OPPO Reno4 Tím Khói: Tôn lên vẻ sang trọng, quý phái cho các chị em, giá không thay đổi</h3>
		            	<span><i class="fas fa-comment-alt"></i> 1 bình luận</span>
		            </a>
	          	</li>
	          </ul>
	          <a href="">Xem tất cả các tin liên quan</a>
	        </div>
	        <div class="news-list">
	          <h4>Hướng dẫn về OPPO Reno3</h4>
	          <ul>
	          	<li>
	          		<a href="">
		            	<img src="./images/huong-dan-cach-kich-hoat-bao-mat-khuon-mat-tren-oppo-reno3-thumb-1.jpg" alt="">
		            	<h3>Hướng dẫn cách kích hoạt bảo mật khuôn mặt trên OPPO Reno3</h3>
		            </a>
	          	</li>
	          	<li>
	          		<a href="">
		            	<img src="./images/oppo-sm-megamall-concept-store-with-coleen-garcia_800x450-300x200.jpg" alt="">
		            	<h3>OPPO hợp tác với América Móvil để thâm nhập thị trường smartphone Mỹ Latinh, đường đua quốc tế ai sẽ hụt hơi trước đây?</h3>
		            </a>
	          	</li>
	          	<li>
	          		<a href="">
		            	<img src="./images/so-sanh-oppo-reno3-va-reno2-f-cung-muc-gia-nen-chon-mua - thumb.jpg" alt="">
		            	<h>3So sánh OPPO Reno3 và Reno2 F: Cùng mức giá, nên chọn mua máy nào?</h3>
		            	<span><i class="fas fa-comment-alt"></i> 1 bình luận</span>
		            </a>
	          	</li>
	          </ul>
	          <a href="">Xem thêm hướng dẫn</a>
	        </div>
	        <div class="acc-attach">
	          <h4>Phụ kiện OPPO Reno3</h4>
	          <ul>
	          	<li>
	          		<a href="">
	          			<img src="./images/tai-nghe-ep-mozard-ds509-wb-xam-1-600x600.jpg" alt="">
	          			<h3>Tai nghe EP Mozard DS509-WB Xám</h3>
	          			<strong>102.000₫</strong>
	          		</a>
	          	</li>
	          	<li>
	          		<a href="">
	          			<img src="./images/tai-nghe-ep-mozard-ds509-wb-xam-1-600x600.jpg" alt="">
	          			<h3>Tai nghe EP Mozard DS509-WB Xám</h3>
	          			<strong>102.000₫</strong>
	          		</a>
	          	</li>
	          	<li>
	          		<a href="">
	          			<img src="./images/sac-du-phong-polymer-10000mah-xiaomi-mi-18w-den-1-600x600.jpg" alt="">
	          			<h3>Tai nghe EP Mozard DS509-WB Xám</h3>
	          			<strong>449.000₫</strong>
	          		</a>
	          	</li>
	          </ul>
	          <a href="">Xem tất cả phụ kiện OPPO Reno3</a>
	        </div>
	      </aside>
	    </div>



  	</div>
  	<div class="row2foot">
      <p>© 2018. Công ty cổ phần Thế Giới Di Động. GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. </p>
    </div>
  </div>

  <script type="text/javascript" src="./javascripts/jquery-3.5.0.min.js"></script>
  <script type="text/javascript" src="./plugin/owlcarousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="./javascripts/javascript.js"></script>
</body>
</html>