<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thegioididong.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./fonts/fontawesome-pro-5.14.0-web/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/mobile.css">
  <link rel="stylesheet" type="text/css" href="./css/laptop.css">

</head>
<body>
<div class="container-fluid bgc">
  <header class="header" id="top">
    <div class="container">
      <a href="index.html" class="header-logo"><img src="./images/logo-tgdd.png" alt=""></a>
      <form class="header-search" id="search" action="" method="get" accept-charset="utf-8">
        <input type="text" name="search" value="" placeholder="Bạn tìm gì...">
        <i class="fa fa-search"></i>
      </form>
      <div class="header-infor">
        <a href="cart.html" class="infor-cart"><i class="fal fa-shopping-cart"></i>Giỏ hàng</a>
        <a href="history-cart.html" class="infor-history">LỊCH SỬ MUA HÀNG</a>
        <a href="" class="infor-new-hot"><span class="dot"><span class="ping"></span></span><span class="text">Trực tiếp ra mắt Realme C12</span></a>
      </div>
      <div class="" style="margin-left: auto;margin-right: 0;overflow: hidden">
        <a href=""class="infor-technology">24h CÔNG NGHỆ</a>
        <a href="" class="infor-contact">HỎI ĐÁP</a>
        <a href="" class="infor-game-ap">GAME APP</a>
      </div>
    </div>
  </header><!-- /header -->
  <div id="nav">
    <nav class="container nav">
      <a href="mobile.html" title="Điện thoại di động, smartphone"><i class="fal fa-mobile"></i>Điện thoại</a>
      <a href="laptop.html" title="Máy tính xách tay, laptop"><i class="fal fa-laptop"></i>Laptop</a>
      <a href="tablet.html" title="Máy tính bảng, tablet"><i class="fal fa-tablet"></i>Tablet</a>
      <a href="accessories.html" title="Phụ kiện điện thoại di động, phụ kiện tablet, phụ kiện laptop"><i class="fal fa-headphones"></i>Phụ kiện</a>
      <a href="fwatch.html" title="Đồng hồ thời trang"><i class="fal fa-watch"></i>Đồng hồ thời trang</a>
      <a href="swatch.html" title="Đồng hồ thông minh"><i class="fal fa-watch-calculator"></i>Đồng hồ thông minh</a>
      <a class="current-page" href="printer.html" title="PC, máy in"><i class="fal fa-desktop-alt"></i>PC, máy in</a>
      <a href="#" title="Máy cũ giá rẻ, máy đổi trả thegioididong">Máy cũ giá rẻ</a>
      <a href="#" title="">Sim, thẻ cào</a>
      <a href="#" title="">Trả góp, điện, nước</a>
    </nav>
  </div><!--  /nav -->
  <div class="container">
    <div id="tab-links">
      <div class="tab-links">
        <a href="laptop.html" >laptop</a>
        <a href="pc.html" >Máy tính bộ - Màn hình</a>
        <a href="printer.html" class="links-active">Máy in - Mực in</a>
      </div>
      <div class="mac-hp-area">
        <a href=""><img src="./images/macbook.png"></a>
        <a href=""><img src="./images/hp.png"></a>
      </div>
    </div>

    <div class="banner">
      <div id="owl-home" class="owl-carousel owl-theme">
        <div class="item">
          <a href=""><img src="./images/800-170-800x170-29.png" width="800"height="170"></a>
        </div>
        <div class="item ">
          <a href="#"><img src="./images/man-hinh-asus-800-170-800x170.png" width="800"height="170"></a>
        </div>
        <div class="item ">
          <a href="#"><img src="./images/may-bo-800-170-800x170.png" width="800"height="170"></a>
        </div>
        <div class="item ">
          <a href="#"><img src="./images/800-170-800x170-72.png" width="800"height="170"></a>
        </div>
        <div class="item ">
          <a href="#"><img src="./images/a51-71-800-170-800x170-3.png" width="800"height="170"></a>
        </div>
      </div>
      <div class="right-banner">
        <a href="#">
          <img src="./images/390-80-390x80-2 (1).png" width="390" height="90" alt=""></a>
        <a href="#">
          <img src="./images/390-80-390x80-1.png" width="390" height="90" alt="">
        </a>
      </div>
    </div>
    <div class="filter">
      <div class="filter-trademark">
        <a href="" ><img src="./images/HP5693-b_31.jpg" alt=""></a>
        <a href="" ><img src="./images/Brother5693-b_28.png" alt=""></a>
        <a href="" ><img src="./images/Canon5693-b_33.png" alt=""></a>
      </div>
      <div class="filter-other container">
        <div class="filter-price">
          <label>Chọn mức giá: </label>
          <a href="">Dưới 3 triệu</a>
          <a href="">Từ 3 - 5 triệu</a>
          <a href="">Trên 5 triệu</a>
        </div>
        
        <div class="filter-barpage">
          <div class="barpage-item">
            <label class="barpage-title">Mới
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label>
          </div>
          <!-- <div class="barpage-item">
            <label class="barpage-title">Trả góp 0%
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="barpage-item">
            <label class="barpage-title">Độc quyền
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label>
            <span class="new">MỚI</span>
          </div> -->
        </div>
        <div class="filter-feature">
          <label class="criteria js-filter-feature" id="js-filter-feature"> <span>Tính năng</span><i class="fa fa-caret-down"></i>
          </label>
          <div class="content-feature printer js-content-feature" style="display: none">
            <label class="closefeature"><i class="fal fa-times-circle"></i></label>
            <div class="content-feature-list">
              <div class="content-feature-item">
                <label>Loại máy</label>
                <div class="barpage-item">
                  <label class="barpage-title">In phun màu
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="barpage-item">
                  <label class="barpage-title">In laser trắng đen
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="barpage-item">
                  <label class="barpage-title">In phun trắng đen
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="content-feature-item">
                <label>Chức năng</label>
                <div class="barpage-item">
                  <label class="barpage-title">Copy
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="barpage-item">
                  <label class="barpage-title">Scan
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="barpage-item">
                  <label class="barpage-title">In wifi
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="barpage-item">
                  <label class="barpage-title">In 2 mặt
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="result">
              <button type="button" class="view-result">Xem 6 kết quả</button>
              <button type="reset" class="clear-prop">Bỏ tất cả lựa chọn</button>
            </div>
          </div>
        </div>
        <div class="filter-sort">
          <span class="criteria js-sort" id="js-sort"> <span>Sắp xếp</span><i class="fa fa-caret-down"></i></span>
          <div class="content-sort js-content-sort" style="">
            <label class="closefilter js-closefilter "><i class="fal fa-times-circle"></i></label>
            <span><span class="check-sort"><i class="fal fa-check"></i></span> Nổi bật nhất</span>
            <span><span class="check-sort"></span> Bán chạy nhất</span>
            <span><span class="check-sort"></span> Giá cao đến thấp</span>
            <span><span class="check-sort"></span> Giá thấp đến cao</span>
          </div>
        </div>
      </div>
    </div>
    <div class="title-filter-sort">
      <h1 class="h1">18 MÁY IN</h1>
    </div>
    <div class="home-product">
      <div class="">
        <a href="" class="large">
          <img src="./images/may-in-hp-laserjet-pro-m12a-t0l45a-1-154989-400x400.jpg" alt="" width="180" height="180">
          <h3>Máy in HP LaserJet Pro M12a (T0L45A)</h3>
          <!-- <h6 class="text-promo">Online giá rẻ</h6> -->
          <div class="product-price">
            <strong>1.790.000₫</strong>
            <span>2.190.000₫</span>
            <i>-18%</i>                      
          </div>
          <!-- <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <!-- <label class="installment">Trả góp 0%</label> -->
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/may-in-phun-mau-canon-pixma-g1010-1-225966-400x400.jpg" alt="" width="180" height="180">
          <h3>Máy in phun màu đơn năng Canon PIXMA G1010</h3>
          <!-- <h6 class="text-promo">Online giá rẻ</h6> -->
          <div class="product-price">
            <strong>2.390.000₫</strong>
            <!-- <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
          <!-- <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <!-- <label class="installment">Trả góp 0%</label> -->
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/8may-in-laser-brother-hl-l2321d-115902-400x400.jpg" alt="" width="180" height="180">
          <h3>Máy in laser Brother HL L2321D</h3>
          <!-- <h6 class="text-promo">Online giá rẻ</h6> -->
          <div class="product-price">
            <strong>2.690.000₫</strong>
            <!-- <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
          <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div>
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/may-in-hp-laserjet-pro-m12a-t0l45a-1-154989-400x400.jpg" alt="" width="180" height="180">
          <h3>Máy in HP LaserJet Pro M12a (T0L45A)</h3>
          <!-- <h6 class="text-promo">Online giá rẻ</h6> -->
          <div class="product-price">
            <strong>1.790.000₫</strong>
            <span>2.190.000₫</span>
            <i>-18%</i>                      
          </div>
          <!-- <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <!-- <label class="installment">Trả góp 0%</label> -->
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/may-in-phun-mau-canon-pixma-g1010-1-225966-400x400.jpg" alt="" width="180" height="180">
          <h3>Máy in phun màu đơn năng Canon PIXMA G1010</h3>
          <!-- <h6 class="text-promo">Online giá rẻ</h6> -->
          <div class="product-price">
            <strong>2.390.000₫</strong>
            <!-- <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
          <!-- <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <!-- <label class="installment">Trả góp 0%</label> -->
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/8may-in-laser-brother-hl-l2321d-115902-400x400.jpg" alt="" width="180" height="180">
          <h3>Máy in laser Brother HL L2321D</h3>
          <!-- <h6 class="text-promo">Online giá rẻ</h6> -->
          <div class="product-price">
            <strong>2.690.000₫</strong>
            <!-- <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
          <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div>
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/may-in-hp-laserjet-pro-m12a-t0l45a-1-154989-400x400.jpg" alt="" width="180" height="180">
          <h3>Máy in HP LaserJet Pro M12a (T0L45A)</h3>
          <!-- <h6 class="text-promo">Online giá rẻ</h6> -->
          <div class="product-price">
            <strong>1.790.000₫</strong>
            <span>2.190.000₫</span>
            <i>-18%</i>                      
          </div>
          <!-- <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <!-- <label class="installment">Trả góp 0%</label> -->
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/may-in-phun-mau-canon-pixma-g1010-1-225966-400x400.jpg" alt="" width="180" height="180">
          <h3>Máy in phun màu đơn năng Canon PIXMA G1010</h3>
          <!-- <h6 class="text-promo">Online giá rẻ</h6> -->
          <div class="product-price">
            <strong>2.390.000₫</strong>
            <!-- <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
          <!-- <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <!-- <label class="installment">Trả góp 0%</label> -->
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/8may-in-laser-brother-hl-l2321d-115902-400x400.jpg" alt="" width="180" height="180">
          <h3>Máy in laser Brother HL L2321D</h3>
          <!-- <h6 class="text-promo">Online giá rẻ</h6> -->
          <div class="product-price">
            <strong>2.690.000₫</strong>
            <!-- <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
          <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div>
        </a>
      </div>
    </div>
    <div class="title-filter-sort">
      <h1 class="h1">6 MỰC IN</h1>
    </div>
    <div class="home-product">
      <div class="">
        <a href="" class="large">
          <img src="./images/hop-muc-hp-103a-neverstop-danh-cho-hp-neverstop-400x400.jpg" alt="" width="180" height="180">
          <h3>HP 103A Neverstop (dành cho HP Neverstop)</h3>
          <div class="product-price">
            <strong>240.000₫</strong>
            <!-- <span>11.490.000₫</span>
            <i>-30%</i> -->                  
          </div>
          <!-- <div class="product-promo noimage">
            <p> Quà <b>550.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <!-- <label class="installment">Trả góp 0%</label> -->
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/hop-muc-brother-tn-2385-danh-cho-brother-dcpl2520d-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Brother TN-2385 (dành cho Brother DCPL2520D/ HL-2366DW/ HL-2321D/HL-2361DN/MFC-L2701DW)</h3>
          <div class="product-price">
            <strong>500.000₫</strong>
           <!--  <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/hop-muc-cartridge-canon-303-danh-cho-canon-lbp2900-den-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Cartridge Canon 303 (dành cho Canon LBP2900)</h3>
          <div class="product-price">
            <strong>1.490.000₫</strong>
            <!-- <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/hop-muc-hp-103a-neverstop-danh-cho-hp-neverstop-400x400.jpg" alt="" width="180" height="180">
          <h3>HP 103A Neverstop (dành cho HP Neverstop)</h3>
          <div class="product-price">
            <strong>240.000₫</strong>
            <!-- <span>11.490.000₫</span>
            <i>-30%</i> -->                  
          </div>
          <!-- <div class="product-promo noimage">
            <p> Quà <b>550.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <!-- <label class="installment">Trả góp 0%</label> -->
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/hop-muc-brother-tn-2385-danh-cho-brother-dcpl2520d-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Brother TN-2385 (dành cho Brother DCPL2520D/ HL-2366DW/ HL-2321D/HL-2361DN/MFC-L2701DW)</h3>
          <div class="product-price">
            <strong>500.000₫</strong>
           <!--  <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
        </a>
      </div>
      <div class="">
        <a href="" class="large">
          <img src="./images/hop-muc-cartridge-canon-303-danh-cho-canon-lbp2900-den-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Cartridge Canon 303 (dành cho Canon LBP2900)</h3>
          <div class="product-price">
            <strong>1.490.000₫</strong>
            <!-- <span>12.490.000₫</span>
            <i>-30%</i> -->                      
          </div>
        </a>
      </div>
    </div>
    <!-- <div class="show-more">
      <label for="">Xem thêm 145 điện thoại<i class="fa fa-caret-down"></i></label>
    </div> -->
    <!-- <div class="catetag">
      <a href="">Samsung Galaxy Note Mới</a>
      <a href="">iPhone 11 Pro Max</a>
      <a href="">iPhone 11</a>
      <a href="">Redmi Note 9S</a>
      <a href="">OPPO Reno4</a>
      <a href="">Điện thoại độc quyền</a>
      <a href="">OnePlus</a>
      <a href="">Điện thoại Energizer</a>
      <a href="">Điện thoại thông minh</a>
      <a href="">Điện thoại pin trâu</a>
    </div> -->

  </div>
  <!-- <div class="slogan">
    <div class="container">
      <p><i class="fal fa-truck-container"></i><span class="text">Giao hàng nhanh chóng</span></p>
      <p><i class="fal fa-piggy-bank"></i><span class="text">Thanh toán: tiền mặt, visa / master, trả góp</span></p>
      <p><i class="far fa-phone-laptop"></i><span class="text">Trải nghiệm sản phẩm tại nhà</span></p>
      <p><i class="far fa-award"></i><span class="text">Lỗi đổi tại nhà nhanh chóng</span></p>
      <p><i class="fas fa-user-headset"></i><span class="text">Hỗ trợ suốt thời gian sử dụng. Hotline: <span>1800.1763</span></span></p>
    </div>
  </div> -->
  <footer>
    <div class="container">
      <div class="rowfoot">
        <div class="colfoot">
          <a href="" title="">Lịch sử mua hàng</a>
          <a href="" title="">Tìm hiểu về mua trả góp</a>
          <a href="" title="">Chính sách bảo hành</a>
          <a href="" title="">Chính sách đổi trả</a>
          <a class="footer-link" href="/giao-hang" title="Giao hàng &amp; Thanh toán">Giao hàng &amp; Thanh toán</a>
          <a class="footer-link" href="/huong-dan-mua-hang" title="Hướng dẫn mua online">Hướng dẫn mua online</a>
          <a class="footer-link" href="/b2b" title="Mua hàng doanh nghiệp">Bán hàng doanh nghiệp</a>
          <a class="footer-link" href="/phieu-mua-hang" title="Phiếu mua hàng">Phiếu mua hàng</a>
          <a class="footer-link" href="//hddt.thegioididong.com" target="_blank" title="In hóa đơn điện tử" rel="nofollow noopener">In hóa đơn điện tử</a>
          <a class="footer-link" href="/tos" title="Quy chế hoạt động">Quy chế hoạt động</a>
          <a class="footer-link" href="/noi-quy-cua-hang" title="Nội quy cửa hàng">Nội quy cửa hàng</a>
          <a class="footer-link" href="/chat-luong-phuc-vu" title="Chất lượng phục vụ">Chất lượng phục vụ</a>
          <a class="footer-link" href="/trao-thuong" title="Thông tin trao thưởng">Thông tin trao thưởng</a>
          <a class="footer-link" href="/chinh-sach-khui-hop-apple" title="Chính sách khui hộp sản phẩm Apple">Chính sách khui hộp sản phẩm Apple</a>

          <span class="showmore" id="showmore" title="">Xem thêm <i class="fa fa-caret-down" id="iconfoot"></i></span>

        </div>
        <div class="colfoot">
          <a href="" title="">Giới thiệu công ty (mwg.vn)</a>
          <a href="" title="">Tuyển dụng</a>
          <a href="" title="">Thư góp ý, khiếu nại</a>
          <a href="" title="">Tìm siêu thị (hơn 2.031 shop)</a>
          <a href="" title="">Xem bản mobile</a>
        </div>
        <div class="colfoot">
          <p>Gọi mua hàng<a href="" title="">1800 1060</a>(7:30 - 22:00)</p>
          <p>Gọi khiếu nại<a href="" title="">1800 1062</a>(8:00 - 21:30)</p>
          <p>Gọi bảo hành<a href="" title="">1800 1064</a>(8:00 - 21:00)</p>
          <p>Kỹ thuật<a href="" title="">1800 1763</a>(8:00 - 22:00)</p>
        </div>
        <div class="colfoot lastcolfoot">
          <!-- <a href="https://facebook.com/thegioididongcom" title=""></a>
          <a href="https://www.youtube.com/user/TGDDVideoReviews?sub_confirmation=1" title=""></a>
          <div class="group"> -->
            <label for="">Website cùng tập đoàn:</label>
            <!-- <a href="https://www.maiamtgdd.vn/" title=""></a>
            <a href="https://www.dienmayxanh.com/" title=""></a>
            <a href="https://www.bachhoaxanh.com/" title=""></a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row2foot">
        <p>© 2018. Công ty cổ phần Thế Giới Di Động. GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. </p>
      </div>
  </footer>
  <p id="back-top" style="display: block;">
    <a href="#top" title="Về Đầu Trang"><span></span></a>
  </p>
  <div id="notifychatmsg" class="chattgdd" style="bottom: 100px; top: auto; right: 43px; left: auto; display: block;">
    <div class="notifyChat2  ">
      <a href="" >
        <img class="notifyChat2img" src="https://cdn.thegioididong.com/dmxchat/iconinvitechat_1.v201901000046.png">
      </a>
      <a class="btnRqChat">Hỗ trợ online</a>
    </div>
  </div>
</div>
	<script type="text/javascript" src="./javascripts/jquery-3.5.0.min.js"></script>
  <script type="text/javascript" src="./plugin/owlcarousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="./javascripts/javascript.js"></script>
</body>
</html>
