<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thegioididong.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./fonts/fontawesome-pro-5.14.0-web/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/mobile.css">

</head>
<body>
<div class="container-fluid bgc">
  <header class="header" id="top">
    <div class="container">
      <a href="index.html" class="header-logo"><img src="./images/logo-tgdd.png" alt=""></a>
      <form class="header-search" id="search" action="" method="get" accept-charset="utf-8">
        <input type="text" name="search" value="" placeholder="Bạn tìm gì...">
        <i class="fa fa-search"></i>
      </form>
      <div class="header-infor">
        <a href="cart.html" class="infor-cart"><i class="fal fa-shopping-cart"></i>Giỏ hàng</a>
        <a href="history-cart.html" class="infor-history">LỊCH SỬ MUA HÀNG</a>
        <a href="" class="infor-new-hot"><span class="dot"><span class="ping"></span></span><span class="text">Trực tiếp ra mắt Realme C12</span></a>
      </div>
      <div class="" style="margin-left: auto;margin-right: 0;overflow: hidden">
        <a href=""class="infor-technology">24h CÔNG NGHỆ</a>
        <a href="" class="infor-contact">HỎI ĐÁP</a>
        <a href="" class="infor-game-ap">GAME APP</a>
      </div>
    </div>
  </header><!-- /header -->
  <div id="nav">
    <nav class="container nav">
      <a href="mobile.html" title="Điện thoại di động, smartphone"><i class="fal fa-mobile"></i>Điện thoại</a>
      <a href="laptop.html" title="Máy tính xách tay, laptop"><i class="fal fa-laptop"></i>Laptop</a>
      <a class="current-page" href="tablet.html" title="Máy tính bảng, tablet"><i class="fal fa-tablet"></i>Tablet</a>
      <a href="accessories.html" title="Phụ kiện điện thoại di động, phụ kiện tablet, phụ kiện laptop"><i class="fal fa-headphones"></i>Phụ kiện</a>
      <a href="fwatch.html" title="Đồng hồ thời trang"><i class="fal fa-watch"></i>Đồng hồ thời trang</a>
      <a href="swatch.html" title="Đồng hồ thông minh"><i class="fal fa-watch-calculator"></i>Đồng hồ thông minh</a>
      <a href="printer.html" title="PC, máy in"><i class="fal fa-desktop-alt"></i>PC, máy in</a>
      <a href="#" title="Máy cũ giá rẻ, máy đổi trả thegioididong">Máy cũ giá rẻ</a>
      <a href="#" title="">Sim, thẻ cào</a>
      <a href="#" title="">Trả góp, điện, nước</a>
    </nav>
  </div><!--  /nav -->
  <div class="container">
    <div class="banner">
      <div id="owl-home" class="owl-carousel owl-theme">
        <div class="item">
          <a href="#"><img src="./images/tab-s7-800-170-800x170.png" width="800"height="170"></a>
        </div>
        <div class="item ">
          <a href="#"><img src="./images/800-170-800x170-72.png" width="800"height="170"></a>
        </div>
        <div class="item ">
          <a href="#"><img src="./images/800-170-800x170-26.png" width="800"height="170"></a>
        </div>
        <div class="item ">
          <a href="#"><img src="./images/huawei-tab-800-170-800x170.png" width="800"height="170"></a>
        </div>
        <div class="item ">
          <a href="#"><img src="./images/a51-71-800-170-800x170-3.png" width="800"height="170"></a>
        </div>
      </div>
      <div class="right-banner">
        <a href="#">
          <img src="./images/s10lite-390-80-390x80.png" width="390" height="90" alt=""></a>
        <a href="#">
          <img src="./images/sticky-oppo-a31-390x80-1.png" width="390" height="90" alt="">
        </a>
      </div>
    </div>
    <!-- fillter-trademark -->
    <div class="filter-trademark">
      <a href="" ><img src="./images/iPhone-(Apple)42-b_16.jpg" alt=""></a>
      <a href="" ><img src="./images/Samsung42-b_25.jpg" alt=""></a>
      <a href="" ><img src="./images/Huawei522-b_4.jpg" alt=""></a>
      <a href="" ><img src="./images/Lenovo522-b_29.jpg" alt=""></a>
      <a href="" ><img src="./images/Masstel522-b_35.png" alt=""></a>
      <a href="" ><img src="./images/Mobell522-b_30.jpg" alt=""></a>
    </div>
    <!-- filter other -->
    <div class="filter-other">
      <div class="filter-price">
        <label>Chọn mức giá: </label>
        <a href="">Dưới 3 triệu</a>
        <a href="">Từ 3 - 10 triệu</a>
        <a href="">Trên 10 triệu</a>
      </div>
      <div class="filter-feature">
        <label class="criteria js-filter-feature" id="js-filter-feature"> <span>Tính năng</span><i class="fa fa-caret-down"></i>
        </label>
        <div class="content-feature printer js-content-feature" style="">
          <label class="closefeature"><i class="fal fa-times-circle"></i></label>
          <div class="content-feature-list">
            <div class="content-feature-item">
              <label>Màn hình</label>
              <div class="barpage-item">
                <label class="barpage-title">Khoảng 7"
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">Khoảng 8"
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">Khoảng 9"
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">Trên 10"
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="content-feature-item">
              <label>RAM</label>
              <div class="barpage-item">
                <label class="barpage-title">1GB
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">2GB
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">3GB
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">4GB
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="content-feature-list">
            <div class="content-feature-item">
              <label>Camera sau</label>
              <div class="barpage-item">
                <label class="barpage-title">Dưới 3MP
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">Từ 3MB -5MB
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">Trên 5MB
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="content-feature-item">
              <label>Tính năng đặc biệt</label>
              <div class="barpage-item">
                <label class="barpage-title">2 SIM
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">Thực hiện cuộc gọi
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">42 mm
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">Pin sử dụng trên 8 giờ
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">Sạc pin nhanh
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="barpage-item">
                <label class="barpage-title">Hỗ trợ OTG
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="result">
            <button type="button" class="view-result">Xem 6 kết quả</button>
            <button type="reset" class="clear-prop">Bỏ tất cả lựa chọn</button>
          </div>
        </div>
      </div>
      <div class="filter-barpage">
        <div class="barpage-item">
          <label class="barpage-title">Mới
            <input type="checkbox" >
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="barpage-item">
          <label class="barpage-title">Trả góp 0%
            <input type="checkbox" >
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <div class="filter-sort">
        <span class="criteria js-sort" id="js-sort"> <span>Sắp xếp</span><i class="fa fa-caret-down"></i></span>
        <div class="content-sort js-content-sort" style="">
          <label class="closefilter js-closefilter "><i class="fal fa-times-circle"></i></label>
          <span><span class="check-sort"><i class="fal fa-check"></i></span> Nổi bật nhất</span>
          <span><span class="check-sort"></span> Bán chạy nhất</span>
          <span><span class="check-sort"></span> Giá cao đến thấp</span>
          <span><span class="check-sort"></span> Giá thấp đến cao</span>
        </div>
      </div>
    </div>
    <h1 class="h1">Máy tính bảng nỗi bật nhất</h1>
    <div class="home-product">
      <div class="feature">
        <a href="" class="large">
          <img src="./images/samsung-galaxy-tab-s7-feature-fixed.jpg" alt="" width="600" height="275">
          <h3>Samsung Galaxy Tab S7</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>18.990.000₫</strong>
            <!-- <span>11.990.000₫</span>
            <i>-7%</i>  -->                     
          </div>
          <!-- <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <label class="preorder">Đặt trước đến 24/09</label>
          <!-- <label class="installment">Trả góp 0%</label> -->
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/lenovo-tab-e10-tb-x104l-den-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Lenovo Tab E10 TB-X104L Đen</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>3.190.000₫</strong>
            <span>3.590.000₫</span>
            <i>-11%</i>                     
          </div>
          <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>21 đánh giá</span>
          </div>
          <div class="product-promo noimage">
            <!-- <p>Giảm thêm <b>500.000₫</b></p> -->
           <!--  <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div class="feature">
        <a href="" class="large">
          <img src="./images/New-718x332.jpg" alt="" width="600" height="275">
          <h3>Galaxy A71</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>10.490.000₫</strong>
            <span>11.990.000₫</span>
            <i>-7%</i>                      
          </div>
          <!-- <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p>
          </div> -->
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/lenovo-tab-e10-tb-x104l-den-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Lenovo Tab E10 TB-X104L Đen</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>3.190.000₫</strong>
            <span>3.590.000₫</span>
            <i>-11%</i>                     
          </div>
          <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>21 đánh giá</span>
          </div>
          <div class="product-promo noimage">
            <!-- <p>Giảm thêm <b>500.000₫</b></p> -->
           <!--  <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/lenovo-tab-e10-tb-x104l-den-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Lenovo Tab E10 TB-X104L Đen</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>3.190.000₫</strong>
            <span>3.590.000₫</span>
            <i>-11%</i>                     
          </div>
          <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>21 đánh giá</span>
          </div>
          <div class="product-promo noimage">
            <!-- <p>Giảm thêm <b>500.000₫</b></p> -->
           <!--  <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/lenovo-tab-e10-tb-x104l-den-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Lenovo Tab E10 TB-X104L Đen</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>3.190.000₫</strong>
            <span>3.590.000₫</span>
            <i>-11%</i>                     
          </div>
          <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>21 đánh giá</span>
          </div>
          <div class="product-promo noimage">
            <!-- <p>Giảm thêm <b>500.000₫</b></p> -->
           <!--  <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/lenovo-tab-e10-tb-x104l-den-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Lenovo Tab E10 TB-X104L Đen</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>3.190.000₫</strong>
            <span>3.590.000₫</span>
            <i>-11%</i>                     
          </div>
          <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>21 đánh giá</span>
          </div>
          <div class="product-promo noimage">
            <!-- <p>Giảm thêm <b>500.000₫</b></p> -->
           <!--  <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/lenovo-tab-e10-tb-x104l-den-1-400x400.jpg" alt="" width="180" height="180">
          <h3>Lenovo Tab E10 TB-X104L Đen</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>3.190.000₫</strong>
            <span>3.590.000₫</span>
            <i>-11%</i>                     
          </div>
          <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>21 đánh giá</span>
          </div>
          <div class="product-promo noimage">
            <!-- <p>Giảm thêm <b>500.000₫</b></p> -->
           <!--  <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>
          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
      <div>
        <a href="" class="large">
          <img src="./images/ipad-mini-79-inch-wifi-cellular-64gb-2019-gold-400x400.jpg" alt="" width="180" height="180">
          <h3>iPad Mini 7.9 inch Wifi Cellular 64GB (2019)</h3>
          <!-- <h6 class="text-promo">Hàng sắp về</h6> -->
          <div class="product-price">
            <strong>14.490.000₫</strong>
            <!-- <span>6.990.000₫</span>
            <i>-7%</i> -->                      
          </div>
          <!-- <div class="rating-result">
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star voted"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
            <span>9 đánh giá</span>
          </div> -->
          <div class="product-promo noimage">
            <p>Giảm thêm <b>500.000₫</b></p>
            <!-- <p>Ưu đãi đặc quyền Galaxy Z Elite và gói dịch vụ cao cấp</p> -->
          </div>

          <!-- <label class="preorder">Đặt trước đến 24/09</label> -->
          <label class="installment">Trả góp 0%</label>
          <!-- <label class="discount">GIẢM 45.000₫</label> -->
          <!-- <img class="icon-imgNew cate1" src="./images/Label_01-05.png" alt=""> -->
        </a>
      </div>
    </div>
    <div class="show-more">
      <label for="">Xem thêm 25 tablet<i class="fa fa-caret-down"></i></label>
    </div>
    <div class="catetag catetag-printer" >
      <div>
        <a href="">Máy tính bảng iPad</a>
        <a href="">Máy tính bảng Samsung</a>
        <a href="">iPad 10.2 inch</a>
        <a href="">Samsung Galaxy Tab S6 Lite</a>
        <a href="">Lenovo Tab E10</a>
      </div>
      <!-- <div>
        <a href="">Máy in HP</a>
        <a href="">Máy in Brother</a>
        <a href="">Máy in Canon</a>
      </div> -->
    </div>

  </div>
  <div class="slogan">
    <div class="container">
      <p><i class="fal fa-truck-container"></i><span class="text">Giao hàng nhanh chóng</span></p>
      <p><i class="fal fa-piggy-bank"></i><span class="text">Thanh toán: tiền mặt, visa / master, trả góp</span></p>
      <p><i class="far fa-phone-laptop"></i><span class="text">Trải nghiệm sản phẩm tại nhà</span></p>
      <p><i class="far fa-award"></i><span class="text">Lỗi đổi tại nhà nhanh chóng</span></p>
      <p><i class="fas fa-user-headset"></i><span class="text">Hỗ trợ suốt thời gian sử dụng. Hotline: <span>1800.1763</span></span></p>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="rowfoot">
        <div class="colfoot">
          <a href="" title="">Lịch sử mua hàng</a>
          <a href="" title="">Tìm hiểu về mua trả góp</a>
          <a href="" title="">Chính sách bảo hành</a>
          <a href="" title="">Chính sách đổi trả</a>
          <a class="footer-link" href="/giao-hang" title="Giao hàng &amp; Thanh toán">Giao hàng &amp; Thanh toán</a>
          <a class="footer-link" href="/huong-dan-mua-hang" title="Hướng dẫn mua online">Hướng dẫn mua online</a>
          <a class="footer-link" href="/b2b" title="Mua hàng doanh nghiệp">Bán hàng doanh nghiệp</a>
          <a class="footer-link" href="/phieu-mua-hang" title="Phiếu mua hàng">Phiếu mua hàng</a>
          <a class="footer-link" href="//hddt.thegioididong.com" target="_blank" title="In hóa đơn điện tử" rel="nofollow noopener">In hóa đơn điện tử</a>
          <a class="footer-link" href="/tos" title="Quy chế hoạt động">Quy chế hoạt động</a>
          <a class="footer-link" href="/noi-quy-cua-hang" title="Nội quy cửa hàng">Nội quy cửa hàng</a>
          <a class="footer-link" href="/chat-luong-phuc-vu" title="Chất lượng phục vụ">Chất lượng phục vụ</a>
          <a class="footer-link" href="/trao-thuong" title="Thông tin trao thưởng">Thông tin trao thưởng</a>
          <a class="footer-link" href="/chinh-sach-khui-hop-apple" title="Chính sách khui hộp sản phẩm Apple">Chính sách khui hộp sản phẩm Apple</a>

          <span class="showmore" id="showmore" title="">Xem thêm <i class="fa fa-caret-down" id="iconfoot"></i></span>

        </div>
        <div class="colfoot">
          <a href="" title="">Giới thiệu công ty (mwg.vn)</a>
          <a href="" title="">Tuyển dụng</a>
          <a href="" title="">Thư góp ý, khiếu nại</a>
          <a href="" title="">Tìm siêu thị (hơn 2.031 shop)</a>
          <a href="" title="">Xem bản mobile</a>
        </div>
        <div class="colfoot">
          <p>Gọi mua hàng<a href="" title="">1800 1060</a>(7:30 - 22:00)</p>
          <p>Gọi khiếu nại<a href="" title="">1800 1062</a>(8:00 - 21:30)</p>
          <p>Gọi bảo hành<a href="" title="">1800 1064</a>(8:00 - 21:00)</p>
          <p>Kỹ thuật<a href="" title="">1800 1763</a>(8:00 - 22:00)</p>
        </div>
        <div class="colfoot lastcolfoot">
          <!-- <a href="https://facebook.com/thegioididongcom" title=""></a>
          <a href="https://www.youtube.com/user/TGDDVideoReviews?sub_confirmation=1" title=""></a>
          <div class="group"> -->
            <label for="">Website cùng tập đoàn:</label>
            <!-- <a href="https://www.maiamtgdd.vn/" title=""></a>
            <a href="https://www.dienmayxanh.com/" title=""></a>
            <a href="https://www.bachhoaxanh.com/" title=""></a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row2foot">
        <p>© 2018. Công ty cổ phần Thế Giới Di Động. GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. </p>
      </div>
  </footer>
  <p id="back-top" style="display: block;">
    <a href="#top" title="Về Đầu Trang"><span></span></a>
  </p>
  <div id="notifychatmsg" class="chattgdd" style="bottom: 100px; top: auto; right: 43px; left: auto; display: block;">
    <div class="notifyChat2  ">
      <a href="" >
        <img class="notifyChat2img" src="https://cdn.thegioididong.com/dmxchat/iconinvitechat_1.v201901000046.png">
      </a>
      <a class="btnRqChat">Hỗ trợ online</a>
    </div>
  </div>
</div>
	<script type="text/javascript" src="./javascripts/jquery-3.5.0.min.js"></script>
  <script type="text/javascript" src="./plugin/owlcarousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="./javascripts/javascript.js"></script>
</body>
</html>
