<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thegioididong.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./fonts/fontawesome-pro-5.14.0-web/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="./plugin/owlcarousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/cart.css">
  <link rel="stylesheet" type="text/css" href="./css/history-cart.css">

</head>
<body>
	<div class="container-fluid">
		<header class="header" id="top">
	    <div class="container">
	      <a href="index.html" class="header-logo"><img src="./images/logo-tgdd.png" alt=""></a>
	      <form class="header-search" id="search" action="" method="get" accept-charset="utf-8">
	        <input type="text" name="search" value="" placeholder="Bạn tìm gì...">
	        <i class="fa fa-search"></i>
	      </form>
	      <div class="header-infor">
	        <a href="cart.html" class="infor-cart"><i class="fal fa-shopping-cart"></i>Giỏ hàng</a>
	        <a href="history-cart.html" class="infor-history">LỊCH SỬ MUA HÀNG</a>
	        <a href="" class="infor-new-hot"><span class="dot"><span class="ping"></span></span><span class="text">Trực tiếp ra mắt Realme C12</span></a>
	      </div>
	      <div class="" style="margin-left: auto;margin-right: 0;overflow: hidden">
	        <a href=""class="infor-technology">24h CÔNG NGHỆ</a>
	        <a href="" class="infor-contact">HỎI ĐÁP</a>
	        <a href="" class="infor-game-ap">GAME APP</a>
	      </div>
	    </div>
	  </header><!-- /header -->
	  <div id="nav">
	    <nav class="container nav">
	      <a href="mobile.html" title="Điện thoại di động, smartphone"><i class="fal fa-mobile"></i>Điện thoại</a>
	      <a href="laptop.html" title="Máy tính xách tay, laptop"><i class="fal fa-laptop"></i>Laptop</a>
	      <a href="pc.html" title="Máy tính bảng, tablet"><i class="fal fa-tablet"></i>Tablet</a>
	      <a href="accessories.html" title="Phụ kiện điện thoại di động, phụ kiện tablet, phụ kiện laptop"><i class="fal fa-headphones"></i>Phụ kiện</a>
	      <a href="fwatch.html" title="Đồng hồ thời trang"><i class="fal fa-watch"></i>Đồng hồ thời trang</a>
	      <a href="swatch.html" title="Đồng hồ thông minh"><i class="fal fa-watch-calculator"></i>Đồng hồ thông minh</a>
	      <a href="printer.html" title="PC, máy in"><i class="fal fa-desktop-alt"></i>PC, máy in</a>
	      <a href="" title="Máy cũ giá rẻ, máy đổi trả thegioididong">Máy cũ giá rẻ</a>
	      <a href="#" title="">Sim, thẻ cào</a>
	      <a href="#" title="">Trả góp, điện, nước</a>
	    </nav>
	  </div><!--  /nav -->
		<section class="login" >
			<div class="step1-login" >
				<img src="./images/i1.png" alt="">
				<span>Tra cứu thông tin đơn hàng</span>
				<form id="" >
          <input type="tel" name="" placeholder="Nhập số điện thoại mua hàng" autocomplete="off" maxlength="10">
          <label class="hide"></label>
          <button type="submit" class="btn">Tiếp tục</button>
      	</form>
			</div>
			<div class="step2-login " style="display: none">
        <span class="s1">Mã xác nhận đã được gửi đến số điện thoại <b>0979081574</b></span>
        <!-- <span class="s2 hide">Mã xác nhận đã được gửi lại</span> -->
        <form id="">
            <input type="tel" name="" placeholder="Nhập mã xác nhận gồm 4 chữ số" maxlength="4">
            <label class="">* Mã xác nhận không đúng, vui lòng thử lại.</label>
            <label class="hide"></label>
            <button type="submit" class="btn">Tiếp tục</button>
        </form>
        <a class="resend-sms" href="">Tôi không nhận được mã, vui lòng gửi lại</a>
    	</div>
		</section>
	</div>
</body>
</html>